<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head th:replace="fragments :: header(${'Create Post'})"/>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
    <h1 class="text-center">Create a new Post</h1>
    <form th:action="@{/profile/create}" method="POST" th:object="${profile}" id="createProfile">
        <div class="form-group">
            <label for="firstName">Title: </label>
            <input class="form-control" th:field="*{first_name}" id="firstName"/>
        </div>
        <div class="form-group">
            <label for="lastName">Description: </label>
            <textarea class="form-control" th:field="*{last_name}" id="lastName"/>
        </div>
        <div class="form-group">
            <label for="birthDate">Description: </label>
            <textarea class="form-control" th:field="*{birth_date}" id="birthDate"/>
        </div>
        <div class="form-group">
            <label for="deathDate">Description: </label>
            <textarea class="form-control" th:field="*{death_date}" id="deathDate"/>
        </div>
        <div class="form-group">
            <label for="biography">Description: </label>
            <textarea class="form-control" th:field="*{biography}" id="biography"/>
        </div>
        <input type="submit" class="btn btn-block btn-primary"/>
    </form>
</div>

<th:block th:replace="fragments :: scripts"/>
</body>
</html>