<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head th:replace="fragments :: header(${'Create Post'})"/>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
    <h1 class="text-center">Create a new Post</h1>
    <form th:action="@{/profiles/create}" method="POST" th:object="${profile}" id="createProfile">
        <!--<div class="form-group">-->
            <!--<label for="firstName">Title: </label>-->
            <!--<input class="form-control" th:field="*{firstName}" id="firstName"/>-->
        <!--</div>-->
        <div class="form-group">
            <label for="lastName">Description: </label>
            <input class="form-control" th:field="*{lastName}" id="lastName"/>
        </div>
        <div class="form-group">
            <label for="birthDate">Description: </label>
            <input class="form-control" th:field="*{birthDate}" id="birthDate"/>
        </div>
        <div class="form-group">
            <label for="deathDate">Description: </label>
            <input class="form-control" th:field="*{deathDate}" id="deathDate" type="date"/>
        </div>
        <div class="form-group">
            <label for="biography">Description: </label>
            <input class="form-control" th:field="*{biography}" id="biography" type="date"/>
        </div>
        <input type="submit" class="btn btn-block btn-primary"/>
    </form>
</div>

<th:block th:replace="fragments :: scripts"/>
</body>
</html>