<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head th:include="partials/head :: head">
    <meta charset="UTF-8" />
    <title>Log in</title>
</head>
<body>
<body>
<div class="fluid-container col-10">
    <div class="women col-6">
        <div id="image"><img class=" float-right" src=""/></div>
        <!--<img class="img-fluid float-right width-50%" id="women" src="img/Karen_Sparck.png" width="600px" >-->
    </div>
    <div class="quoting float-right col-6">
        <blockquote id="bigBubble">
            <p id ="text">
            </p>
            <div id="mediumBubble">
            </div>
            <div id="smallBubble">
            </div>
        </blockquote>
        <p id="author"></p>
    </div><!-- end of quoting float-left -->
</div><!-- end of fluid-container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src ="js/quotes.js"></script>
</body>
</html>
</body>
</html>